ADDR=8080
DSN=YOUR_DSN_HERE

PASSWORD_PEPPER="YOUR_PEPPER_HERE"
JWT_SECRET="YOUR_JWT_SECRET_HERE"

# Super admin credentials
SUPERADMIN_NAME="YOUR_SUPERADMIN_NAME_HERE"
SUPERADMIN_EMAIL="YOUR_SUPERADMIN_EMAIL_HERE"
SUPERADMIN_PASSWORD="YOUR_SUPERADMIN_PASSWORD_HERE"

# Goose configuration
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=YOUR_DSN_HERE
GOOSE_MIGRATION_DIR=./internal/db/migrations
GOOSE_TABLE=custom.goose_migrations

#Cloudflare R2 configuration
R2_TOKEN_VALUE="YOUR_R2_TOKEN_VALUE_HERE"
R2_ACCOUNT_ID="YOUR_R2_ACCOUNT_ID_HERE"
R2_ACCESS_KEY_ID="YOUR_R2_ACCESS_KEY_ID_HERE"
R2_SECRET_ACCESS_KEY="YOUR_R2_SECRET_ACCESS_KEY_HERE"
R2_BUCKET="YOUR_R2_BUCKET_NAME_HERE"